@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e3e6e6;
  overflow-x: hidden;
}

.block-ellipsis {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-theme {
  @apply text-[#EE4D2D] border-[#EE4D2D] border-[1px] border-solid;
}
